html,
body {
    height: 100%;
}

a {
    color: var(--bs-light);
    font-weight: bold;
}

a>label {
    text-decoration: underline;
    cursor: pointer;
}

pre {
    line-height: 1rem;
    margin-bottom: 0 !important;
}

.form-check-input {
    background-color: var(--bs-dark);
    border-color: var(--bs-secondary);
    border-radius: 0 !important;
}

.form-control {
    border-color: var(--bs-secondary);
    border-radius: 0;
}

.form-range::-moz-range-track {
    background-color: var(--bs-gray-800);
    border-radius: 0;
}

.box {
    position: relative;
    padding: 1rem;
    border: 1px solid var(--bs-secondary);
}

.drop-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    opacity: .3;
    display: none;
    z-index: 20;
}

.alert {
    overflow: hidden;
    transition: all 0.3s;
}

.alert.show {
    opacity: 1;
}

.alert:not(.show) {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
    opacity: 0;
}

.toast-container {
    z-index: 10;
}

.toast {
    width: 600px;
}

.pointing-hand {
    height: 25px;
}

.pointing-hand.mirrored {
    transform: scaleX(-1);
}
